<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include navbar.html %}

    <div data-offcanvas="" class="off-canvas-wrap">
      <div class="inner-wrap">
        {% include aside.html %}
        <section data-equalizer="" class="row docbody">
          <div data-equalizer-watch class="large-12 columns panel">
            <h1 class="header">{{ page.title }}</h1>
              {{ content }}
          </div>
        </section>
        <section class="clearfix-section">

        </section>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
